#special{
	background-color: yellow;
} 

li {
	border: 2px solid red;
}


.completed {
	text-decoration: line-through;
}








/*Class Selector*/

/*.completed {
	text-decoration: line-through;
}
*/










/*ID selector*/
/*
This targets that one thing your trying to change.
id="" in html you have to rember the tag you gave it.

#special{
	background-color: yellow;
} 




*/


/*Element Selector*/
/*li {
	border: 2px solid red;
}*/

/* Selectors for CSS importants
---------------------------------
Element
li {
	
}
------------------
Class
.hello {
	
}

----------------
id
#name {
	
}
-------------------------
Star 
* {
	border: 1px solid lightgrey;
}


------------------------
Descendant

li a {
	color: red;
}


-------------------
adjacent 
h4 + ul {
	border: 4px soild red;
}

------------------
attribute 

a[href="http://www.google.com"] {
	background: blue;
}

input[type="text"] {
	background: blue;
}


----------------
nth of type

ul:nth-of-type(3){
	background: purple;
}
li:nth-of-type(even){
	background: purple;
}

*/